<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-6 footer-separator">
      <ul class="footer-links">
        <li><a href="http://www.airasia.com/ask/template-group.do?id=13&locale=en_GB">AskAirAsia</a></li>
        <li><a href="http://www.airasia.com/ot/en/about-us/terms-and-conditions.page">Terms and conditions</a></li>
        <li><a href="http://www.airasia.com/ot/en/about-us/sitemap.page">Sitemmap</a></li>
      </ul>
    </div>
    <div class="col-md-6 col-xs-6 footer-content">
      Usage of the AirAsia website states your compliance of our <a href="#">Term of use</a> and <a href="#">Privacy policy</a>.
      <br>
      &copy; AirAsia Berhad.
      <br>
      This website is owned and operated by AirAsia Berhad ("AirAsia").
    </div>
  </div>
</div>
