<div class="well">
  <div class="row form-group">
    <div class="col-md-3">
      <label for="firstlastname" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-4 col-xs-12">
        <input class="form-control" type="text" name="firstname" value="">
      </div>
      <div class="input-group col-md-4 col-xs-12">
        <input class="form-control" type="text" name="lastname" value="">
      </div>
    </div>
  </div>

  <div class="row form-group"> <!-- email input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-4 col-xs-12">
        <input class="form-control" type="text" name="email" value="">
      </div>
    </div>
  </div> <!-- end of email input -->

  <div class="row form-group"> <!-- mobile phone input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-2 col-xs-12">
        <select class="form-control" name="optMobileNum">
          <option></option>
        </select>
      </div>
      <div class="input-group col-md-5 col-xs-12">
        <input class="form-control" type="text" name="mobileNumber" value="">
      </div>
    </div>
  </div> <!-- end of mobile phone input -->

  <div class="row form-group"> <!-- home phone input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-2 col-xs-12">
        <select class="form-control" name="optHomeNum">
          <option></option>
        </select>
      </div>
      <div class="input-group col-md-5 col-xs-12">
        <input class="form-control" type="text" name="homeNumber" value="">
      </div>
    </div>
  </div> <!-- end of home phone input -->

  <div class="row form-group"> <!-- case category input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-5 col-xs-12">
        <select class="form-control" name="caseCategory">
          <option></option>
        </select>
      </div>
    </div>
  </div> <!-- end of case category input -->

  <div class="row form-group"> <!-- type input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-5 col-xs-12">
        <select class="form-control" name="typeCategory">
          <option></option>
        </select>
      </div>
    </div>
  </div> <!-- end of type input -->

  <div class="row form-group"> <!-- booking number input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-5 col-xs-12">
        <input type="text" name="bookingNumber" value="">
      </div>
    </div>
  </div> <!-- end of booking number input -->

  <div class="row form-group"> <!-- flight number input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-3 col-xs-5">
        <select class="form-control" name="carrierCode">
          <option></option>
        </select>
      </div>
      <div class="input-group col-md-4 col-xs-7">
        <input type="text" name="flightNumber" value="" maxlength="4">
      </div>
    </div>
  </div> <!-- end of flight number input -->

  <div class="row form-group"> <!-- flight time input -->
    <div class="col-md-3">
      <label for="email" class="control-label"></label>
    </div>
    <div class="col-md-9">
      <div class="input-group col-md-4 col-xs-12">
        <input type="text" name="flightDate" value="">
      </div>
      <div class="input-group col-md-2 col-xs-12">
        <input type="text" name="flightTime" value="" maxlength="4">
      </div>
      <div class="input-group col-md-2 col-xs-6">
        <select class="form-control" name="flightHour">
          <option>am</option>
          <option>pm</option>
        </select>
      </div>
      <div class="input-group col-md-2 col-xs-6">
        <span class="field-note">e.g. 03:45</span>
      </div>
    </div>
  </div> <!-- end of flight time input -->

  <div class="row form-group"> <!-- attachment input -->
    <div class="col-md-3">
      <label for=""></label>
    </div>
    <div class="col-md-9">
      <div class="col-md-4 col-xs-12">
        <input class="form-control" type="file" name="files1">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="form-control" type="file" name="files2">
      </div>
      <div class="col-md-4 col-xs-12">
        <input class="form-control" type="file" name="files3">
      </div>
    </div>
  </div> <!-- end of attachment input -->

  <div class="row form-group">
    <div class="col-md-3 col-xs-12">
      <label for=""></label>
    </div>
  </div>
  <div class="col-md-9 col-xs-12">
    <textarea class="form-control" name="feedbackDesc" rows="5" wrap="soft"></textarea>
  </div>
</div>
